.productos__titulo--propiedades {
  text-align: center;
  text-decoration: underline; }

.producto__titulo--tamanio {
  padding-bottom: 20px; }

.producto__detalle--formato {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  padding-left: 30px;
  text-align: justify; }

.producto__imagen--detalle {
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }

.servicios {
  border: solid 1px;
  display: flex;
  padding-left: 20px; }

.servicios__titulo--propiedades {
  text-align: center;
  text-decoration: underline; }

.servicios__titulo--tamanio {
  padding-bottom: 20px; }

.servicios__detalle--formato {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  padding-left: 30px;
  text-align: justify; }

.servicios__imagen--detalle {
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }

.sliderGaleria {
  justify-content: center;
  /*display: flex;
    padding-left: 250px;*/ }

.footerBG {
  background-image: radial-gradient(circle, white, blue); }

.ico_footer {
  transition: 1s; }

.ico_footer:hover {
  transform: scale(2, 2);
  cursor: pointer; }

footer div h6 {
  padding-bottom: 15px;
  padding-top: 15px; }

footer div p {
  margin-bottom: 2px;
  text-align: center; }

.redesSociales {
  display: flex;
  position: relative;
  padding-left: 20px; }

.logoBG {
  background-image: linear-gradient(to left, blue, lightblue); }

.nav {
  background-color: blue;
  padding: 10px;
  justify-content: flex-end; }

* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

.paddingTB {
  padding-top: 50px;
  padding-bottom: 50px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.titulo {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px; }

.paddingIMG {
  padding-top: 80px; }

body {
  background-image: linear-gradient(to top, lightblue, white); }

.container-fluid {
  width: 100%; }

.divOperaciones {
  background-color: red;
  text-align: center;
  padding: 10px;
  color: yellowgreen; }

.selector, .selector--carbonatos, .selector--cuarzos, .selector--talcos {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border: black solid 1px;
  display: flex;
  padding-left: 100 px; }

.selector--carbonatos {
  background-color: chocolate;
  color: yellowgreen; }

.selector--cuarzos {
  background-color: yellow;
  color: blue; }

.selector--talcos {
  background-color: red;
  color: white; }

.clientes__listado--formato {
  padding-top: 50px;
  text-align: center;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif; }

.clientes__imagen--formato {
  padding-top: 50px;
  justify-content: center; }

.detalleContacto {
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-top: 50px; }

.detalleContacto h3 {
  padding-bottom: 30px; }

.encabezadoFormulario {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 10x; }

.detalleFormulario {
  padding-left: 20px;
  padding-top: 30px; }

.ubicacionGoogle {
  display: flex;
  justify-content: center;
  padding-top: 40px; }

.seleccion--servicios {
  padding-top: 40px; }

.seleccion--accion {
  padding-top: 30px;
  padding-bottom: 30px; }
