.productos__titulo--propiedades {
  text-align: center;
  /*text-decoration: underline; */
  color: blue; }

.producto__titulo--tamanio {
  padding-bottom: 20px; }

.producto__detalle--formato {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  padding-left: 30px;
  text-align: justify;
  margin-right: 30px; }

.producto__imagen--detalle {
  /*display: flex;
    justify-content: center;*/
  align-items: center;
  padding-bottom: 20px;
  padding-left: 160px;
  padding-top: 50px; }

.contenido-servicios {
  padding-bottom: 50px; }

.servicios__titulo--propiedades {
  text-align: center;
  color: blue; }

.servicios__titulo--tamanio {
  padding-bottom: 20px; }

.servicios__detalle--formato {
  font-family: 'Times New Roman', Times, serif;
  margin-right: 30px;
  font-size: 15px;
  padding-left: 30px;
  text-align: justify; }

.servicios__imagen--detalle {
  display: flex;
  justify-content: center;
  padding-bottom: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif; }

.error404 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.error404 h1 {
  font-size: 50px;
  color: blue; }

.error404--imagen {
  display: flex;
  justify-content: center;
  padding-bottom: 50px; }

.top {
  display: flex;
  justify-content: center;
  text-decoration: white; }

.footerBG {
  background-image: radial-gradient(circle, white, blue); }

.ico_footer {
  transition: 1s; }

.ico_footer:hover {
  transform: scale(2, 2);
  cursor: pointer; }

footer div p {
  margin-bottom: 2px;
  text-align: center; }

.logoFooter {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.copyright {
  padding-top: 30px;
  padding-bottom: 10px; }

.contactanos {
  text-align: center;
  padding-top: 20px; }

.redesSociales {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px; }

.logoBG {
  background-image: radial-gradient(circle, white, blue);
  display: flex;
  justify-content: center; }

.nav {
  background-color: blue;
  padding: 10px;
  justify-content: flex-end; }

.navbar-color {
  margin-right: 1rem;
  background-image: radial-gradient(circle, white, blue);
  background-color: blue !important;
  text-decoration: underline; }

* {
  margin: 0;
  padding: 0; }

.container-fluid {
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

.paddingTB {
  padding-top: 50px;
  padding-bottom: 50px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.titulo {
  color: blue;
  text-align: center;
  /*text-decoration: underline;*/
  padding-bottom: 20px; }

.paddingIMG {
  padding-bottom: 100px; }

body {
  background-image: linear-gradient(to top, #e6adc5, white); }

.container-fluid {
  width: 100%; }

.divOperaciones {
  background-color: red;
  text-align: center;
  padding: 10px;
  color: yellowgreen; }

.selector, .selector--carbonatos, .selector--cuarzos, .selector--talcos {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border: black solid 1px;
  display: flex;
  padding-left: 100 px; }

.selector--carbonatos {
  background-color: chocolate;
  color: yellowgreen; }

.selector--cuarzos {
  background-color: yellow;
  color: blue; }

.selector--talcos {
  background-color: red;
  color: white; }

.contenido-clientes {
  padding-bottom: 50px; }

.clientes__listado--formato {
  padding-top: 50px;
  text-align: center;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif; }

.clientes__imagen--formato {
  padding-top: 50px;
  justify-content: center; }

.detalleContacto {
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-top: 50px; }

.detalleContacto h3 {
  padding-bottom: 30px; }

.encabezadoFormulario {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 10x; }

.formulario--contacto {
  padding-right: 30px;
  margin-right: 30px; }

.detalleFormulario {
  padding-left: 20px;
  padding-top: 30px; }

.ubicacionGoogle {
  display: flex;
  justify-content: center;
  padding-top: 40px; }

.seleccion--servicios {
  padding-top: 40px; }

.seleccion--accion {
  padding-top: 30px;
  padding-bottom: 30px; }

.texto--index {
  text-align: justify; }
