.detalleContacto{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 50px;
}
.detalleContacto h3{
    padding-bottom: 30px;
}
.encabezadoFormulario{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px; 
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 10x;
}
.formulario--contacto{
    padding-right: 30px;
    margin-right: 30px;
}
.detalleFormulario{
    padding-left: 20px;
    padding-top: 30px;
}
.ubicacionGoogle{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.seleccion--servicios{
    padding-top: 40px;
}
.seleccion--accion{
    padding-top: 30px;
    padding-bottom: 30px;
}