
.top{
    display: flex;
    justify-content: center;
    text-decoration: white;
}

.footerBG{
    background-image: radial-gradient(circle, white, blue);}

.ico_footer{
    transition:1s;}
    
.ico_footer:hover{
    transform:scale(2,2);
    cursor: pointer;}
    
footer{
     div{
        p{
            margin-bottom: 2px;
            text-align: center;}
        } 
} 

.logoFooter{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright{
    padding-top: 30px;
    padding-bottom: 10px;
}
.contactanos{
    text-align: center;
    padding-top: 20px;
    
}
.redesSociales{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}

