*{margin: 0; padding: 0;}
.container-fluid{
    overflow-x:hidden
}

 html{scroll-behavior: smooth;}

.paddingTB{
    padding-top: 50px; 
    padding-bottom: 50px;}

.container-fluid{
    padding-left: 0; 
    padding-right: 0;}

.titulo{
    text-align: center; 
    text-decoration: underline; 
    padding-bottom: 20px;}

.paddingIMG{
    padding-top: 80px;}

body{background-image: linear-gradient(to top, lightblue, white);}

