.logoBG{
    background-image: radial-gradient(circle, white, blue);
    display: flex;
    justify-content: center;
}

.nav{
    background-color: blue; 
    padding: 10px; 
    justify-content: flex-end;

}
.navbar-color{
    margin-right: 1rem;
    background-image: radial-gradient(circle, white, blue);
    background-color: blue !important;
    text-decoration: underline;
}