.logoBG{
    background-image: linear-gradient( to left, blue, lightblue);
    display: flex;
    justify-content: center;
}

.nav{
    background-color: blue; 
    padding: 10px; 
    justify-content: flex-end;

}
.navbar-color{
    margin-right: 1rem;
    background-color: blue;
}