.productos__titulo--propiedades{
    text-align: center; 
    text-decoration: underline; 
    
}
.producto__titulo--tamanio{
    padding-bottom: 20px;
}
.producto__detalle--formato{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    padding-left: 30px;
}
.producto__imagen--detalle{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}