.productos__titulo--propiedades{
    text-align: center; 
    /*text-decoration: underline; */
    color: blue;
}
.producto__titulo--tamanio{
    padding-bottom: 20px;
}
.producto__detalle--formato{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-left: 30px;
    text-align: justify;
    margin-right: 30px;
}
.producto__imagen--detalle{
    /*display: flex;
    justify-content: center;*/
    align-items: center;
    padding-bottom: 20px;
    padding-left: 90px;
    padding-top: 50px;
}