<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

	<!-- SEO -->
	<meta name="descriptions" content="Pagina oficial de Logistica Rebollini SRL. Empresa dedicada a la logisitica, deposito y transporte terrestre de mercaderias o bienes">
	<meta name="keywords" content="logistica transporte carga descarga deposito importacion camiones exportacion mercaderias">
	
	
    <!-- mi css -->
    <link rel="stylesheet" href="../css/estilo.css">

    <title>Productos</title>
  </head>
  <body>
  	<!--logo + nav -->
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-lg-4 col-xs-12 logoBG">
    			<a href="../index.html"><img src="../assets/img/logo-transparente.png" alt="logo logistica rebollini" height="90px"></a>
    		</div>
    		<div class="col-lg-8 col-xs-12 nav">
    			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-color">
				  	<!--<a class="navbar-brand" href="#">Navbar</a>-->
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					    <div class="navbar-nav">
					      <!--<a class="nav-link active"../index.html="#">Inicio <span class="sr-only">(current)</span></a>-->
					      <a class="nav-link" href="../index.html">Inicio</a>
					      <a class="nav-link" href="clientes.html">Clientes</a>
					      <a class="nav-link" href="productos.html">Productos</a>
					      <a class="nav-link" href="servicios.html">Servicios</a>
					      <a class="nav-link" href="galeria.html">Galeria</a>
					      <a class="nav-link" href="contacto.html">Contacto</a>
					      <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
					    </div>
					  </div>
					</nav>
    		</div>
    	</div>
    </div>
    <!-- Contenido -->
    <div class="container-fluid">
    	<div class="row paddingTB">
    		<section class="col-lg-12 col-xs-12 titulo">
					<h1>P R O D U C T O S</h1>
			</section>
    	</div>
    	<div class="row">
    		<section class="col-lg-6 col-xs-12 productos">
    			<h3 class="productos__titulo--propiedades producto__titulo--tamanio">CARBONATOS</h3>
    			<div class="producto__detalle--formato">
					<div>
						<p>Los carbonatos ( CO3 -2) son sales que resultan de la combinación del ácido carbónico -o un éter carbónico- y un metal. Una o más moléculas de hidrógeno del ácido son sustituidas por el metal base, formando así el compuesto químico.
						Los carbonatos son compuestos químicos abundantes en la naturaleza, tienen una alta capacidad de neutralización y múltiples usos en la industria. Los de mayor presencia en la superficie terrestre y además los más utilizados son el carbonato de calcio y el de dolomita. Tienen tantas o más aplicaciones que el cuarzo y las arcillas.
						El carbonato cálcico es materia prima en la elaboración del papel, vidrio, cerámica y cemento. Es útil en pinturas, adhesivos, hules, cauchos y plásticos, en jabones y detergentes. Es preferido por su accesible costo en relación a otros compuestos, su alto grado de blancura y pureza, así como su buena dispersabilidad.</p>
					</div>
				</div>
    		</section>
    		<section class="col-lg-6 col-xs-12 producto__imagen--detalle">
    			<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alamy.es%2Ffoto-la-calcita-es-un-carbonato-mineral-y-la-mas-estable-de-polimorfia-de-carbonato-de-calcio-169433487.html&psig=AOvVaw3bYPqRHoq0FJApdaSvm0mm&ust=1628690244663000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPiSx4_OpvICFQAAAAAdAAAAABAJ" alt="carbonatos" width="70%">
    		</section>	
    	</div>
    	<div class="row">
    		<section class="col-lg-6 col-xs-12 productos">
    			<h3 class="productos__titulo--propiedades producto__titulo--tamanio">CUARZOS</h3>
    			<div class="producto__detalle--formato">
					<p>El cuarzo es uno de los minerales más conocidos en la tierra. Ocurre básicamente en todos los ambientes minerales, y es el componente fundamental de muchas rocas. El cuarzo es también el más variado de los minerales, y se presenta en todas las formas, hábitos y colores diferentes. Hay más nombres de variedades dados a cuarzo que cualquier otro mineral. Si bien los feldespatos como grupo, son más frecuentes que el cuarzo, como mineral individual, el cuarzo es el mineral más común.
					El cuarzo es uno de los materiales naturales más útiles. Su utilidad puede estar vinculada a sus propiedades físicas y químicas. Tiene una dureza de siete en la escala de Mohs, lo que la hace muy duradera. Es químicamente inerte en contacto con la mayoría de las sustancias. Tiene propiedades eléctricas y resistencia al calor que lo hacen valioso en productos electrónicos. Su brillo, color y diafanidad lo hacen útil como piedra preciosa y también en la fabricación de vidrio. El cuarzo sirve para la fabricación de vidrio, como abrasivo, arena de fundición, arena, en la fabricación de maquinaria de relojes, industria petrolera, como piedra preciosa.</p>
				</div>
			</section>
    		<section class="col-lg-6 col-xs-12 producto__imagen--detalle">
    			<img src="../assets/img/cuarzos.jpg" alt="cuarzos" width="70%">
    		</section>	
    	</div>
    	<div class="row">
    		<section class="col-lg-6 col-xs-12 productos">
    			<h3 class="productos__titulo--propiedades producto__titulo--tamanio">TALCOS</h3>
    			<div class="producto__detalle--formato">
					<p>El talco es un mineral que puede ser utilizado en el yeso, en la fabricación de papel, polvos para el cuerpo, jabones, lubricantes y pigmentos. 
					El talco industrial tiene un amplio espectro de usos industriales entre los que destacan las cerámicas, la industria de la pintura, insecticidas, materiales para techado, la industria del hule, relleno de productos asfaltados, papel, fabricación de inodoros, textiles, cosmético, farmacéutico, etcétera.
					Los talcos son utilizados como carga reforzante en numerosas aplicaciones de caucho. Debido al carácter organofílico de las partículas, existe una marcada afinidad con los elastómeros lo que contribuye a la cohesión entre ellos.</p>
				</div>
    		</section>
    		<section class="col-lg-6 col-xs-12 producto__imagen--detalle">
    			<img src="../assets/img/talco.jpg" alt="talcos" width="70%">
    		</section>	
    	</div>
    </div>
    <!--footer-->
    <div class="container-fluid">
    	<footer class="row footerBG paddingTB">
            <div class="col-lg-1 col-xs-12 top">
                <a href="#top"Ir al top>ir al top</a>
            </div>
	    	<div class="col-lg-3 col-xs-12 logoFooter">
				<a href="index.html"><img src="../assets/img/logo-transparente.png" alt="logo logistica rebollini" height="80px"></a>
            </div>
            <div class="col-lg-3 col-xs-3 Copyright">
				<p>2021 Copyright</p>
				<p>Developed by Marcelo Raul Gonzalez</p>
			</div>
			<div class="col-lg-5 col-xs-12">
                <div class="contactanos">
                    <h6>CONTACTANOS POR NUESTRAS REDES SOCIALES</h6>
                </div>
				<div class="redesSociales">
					<a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/logo-instagram.png" alt="logo instagram" class="ico_footer" width="30%"></a>
					<a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/logo-facebook.png" alt="logo facebook" class="ico_footer" width="30%"></a>
					<a href="https://www.twitter.com/" target="_blank"><img src="../assets/img/logo-twitter-negro.png" alt="logo twitter" class="ico_footer" width="30%"></a>
					<a href="https://ar.linkedin.com/" target="_blank"><img src="../assets/img/logo-linkedin-negro.png" alt="logo linkedin" class="ico_footer" width="30%"></a>
					<a href="https://www.whatsapp.com/" target="_blank"><img src="../assets/img/logo-whatsapp-redondo.png" alt="logo whatsapp" class="ico_footer" width="30%"></a>
				</div>
			</div>	
		</footer>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>-->
  </body>
</html>
