<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

	<!-- SEO -->
	<meta name="descriptions" content="Pagina oficial de Logistica Rebollini SRL. Empresa dedicada a la logisitica, deposito y transporte terrestre de mercaderias o bienes">
	<meta name="keywords" content="logistica transporte carga descarga deposito importacion camiones exportacion mercaderias">
	
	<!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- mi css -->
    <link rel="stylesheet" href="../css/estilo.css">

    <title>Servicio</title>
  </head>
  <body>
  	<!--logo + nav -->
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-lg-4 col-xs-12 logoBG">
    			<a href="../index.html"><img src="../assets/img/logo-transparente.png" alt="logo logistica rebollini" height="100px"></a>
    		</div>
    		<div class="col-lg-8 col-xs-12 nav">
    			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-color">
				  	<!--<a class="navbar-brand" href="#">Navbar</a>-->
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					    <div class="navbar-nav">
					      <!--<a class="nav-link active"../index.html="#">Inicio <span class="sr-only">(current)</span></a>-->
					      <a class="nav-link" href="../index.html">Inicio</a>
					      <a class="nav-link" href="clientes.html">Clientes</a>
					      <a class="nav-link" href="productos.html">Productos</a>
					      <a class="nav-link" href="servicios.html">Servicios</a>
					      <a class="nav-link" href="galeria.html">Galeria</a>
					      <a class="nav-link" href="contacto.html">Contacto</a>
					      <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
					    </div>
					  </div>
					</nav>
    		</div>
    	</div>
    </div>
    <!-- Contenido -->
    <div class="container-fluid contenido-servicios">
    	<div class="row paddingTB">
    		<section class="col-lg-12 col-xs-12 titulo">
				<div data-aos="flip-left"
				 data-aos-duration="1000">
					<h1>S E R V I C I O S</h1>
				</div>
				</section>
    	</div>
    	<div class="row">
    		<section class="col-lg-6 col-xs-12 servicios">
    			<h3 class="servicios__titulo--propiedades servicios__titulo--tamanio">TRANSPORTE</h3>
    			<div class="servicios__detalle--formato">
					<p >Realizamos el transporte poniendo máxima atención en el cuidado de su mercadería, optimizando el acopio del material para garantizar el perfecto estado al momento de su entrega. Contamos con una importante flota en servicio.
					Realizamos servicio de traslado de mercadería, ya sea de cargas parciales,punto a punto o cargas completas. Nuestra flota brinda soporte en todo el país, cubriendo todas las necesidades de logística.
					Contamos con vehículos preparados para cargas a granel, palletizadas o cargas especiales cumpliendo con todos los requisitos legales y de calidad. Contamos con chasis-acoplado, semirremolques.
					Diagramamos la logística de su empresa, el origen, los horarios de retiro y entrega, la zonificación de los clientes, la distribución y la documentación de traslado, entre otros.</p>
				</div>
    		</section>
    		<section class="col-lg-6 col-xs-12 servicios__imagen--detalle">
    			<img src="../assets/img/transporte.jpg" alt="carbonatos" width="70%">
    		</section>	
    	</div>
    	<div class="row">
    		<section class="col-lg-6 col-xs-12 servicios">
    			<h3 class="servicios__titulo--propiedades servicios__titulo--tamanio">DEPOSITO</h3>
    			<div class="servicios__detalle--formato">
					<p >Ofrecemos el servicio de almacenamiento y gestión de stocks en depósitos especiales de nuestro predio.
					Disponemos de depósitos especialmente equipados, acondicionados y habilitados para el almacenaje de mercaderías y productos en general.
					Además nuestros 4 depósitos se encuentran bien ubicados y proporcionan condiciones únicas para la protección de las mercaderías almacenadas. Contamos con un estricto control de stock proporcionando seguridad y eficiencia a nuestros clientes.
					Llevamos adelante todo el proceso logístico. Trabajamos a largo plazo con el cliente y con una dinámica de equipo: nos adaptamos a sus necesidades particulares y resolvemos todas sus tareas de logística y distribución. También lo informamos. Cada cliente tiene atención personalizada a través de un ejecutivo de cuenta, porque estamos seguros de que la comunicación fluida y cercana es el mejor seguro para una dinámica de trabajo exitosa.</p>
				</div>
			</section>
    		<section class="col-lg-6 col-xs-12 servicios__imagen--detalle">
    			<img src="../assets/img/depositos2.jpg" alt="cuarzos" width="70%">
    		</section>	
    	</div>
    	<div class="row">
    		<section class="col-lg-6 col-xs-12 servicios">
    			<h3 class="servicios__titulo--propiedades servicios__titulo--tamanio">CARGA Y DESCARGA</h3>
    			<div class="servicios__detalle--formato">
					<p >Servicio de carga y descarga de mercaderías en vehículos de transporte para su almacenamiento o distribución.
					Para este servicio nuestra empresa selecciona la cantidad de operarios necesaria y un operario referente que además de realizar la tarea es quien controla la calidad del trabajo que se está realizando, así como los elementos de seguridad, equipamiento, vestimenta y demás.
					Este es un servicio completamente adaptable a las necesidades de su empresa, ya sea en cantidad de operarios, horario o ubicación donde se realizará el mismo.
					Para el caso de las cargas, nuestro personal realiza todo el trabajo previo a la carga del vehículo que se pudiera necesitar, como ser paletización o movimientos de mercaderías, y demás.
					Para el caso de las descargas de mercadería, nuestro personal se encarga de su correcta recepción y posteriores controles, verificaciones y disposición final.
					Este servicio permite a nuestros clientes prescindir de los recursos que implica la logística de la carga y descarga de mercaderías.</p>
				</div>
    		</section>
    		<section class="col-lg-6 col-xs-12 servicios__imagen--detalle">
    			<img src="../assets/img/carga-descarga.jpg" alt="talcos" width="70%">
    		</section>	
    	</div>
    </div>
    <!--footer-->
    <div class="container-fluid">
    	<footer class="row footerBG paddingTB">
            <div class="col-lg-1 col-xs-12 top">
                <a href="#top"Ir al top>ir al top</a>
            </div>
	    	<div class="col-lg-3 col-xs-12 logoFooter">
				<div data-aos="zoom-in-up"
				data-aos-duration="1000">
					<a href="../index.html"><img src="../assets/img/logo-transparente.png" alt="logo logistica rebollini" height="80px"></a>
				</div>
            </div>
            <div class="col-lg-3 col-xs-3 Copyright">
				<p>© 2021 Copyright All Right Reserved</p>
				<p>Developed by Marcelo Raul Gonzalez</p>
			</div>
			<div class="col-lg-5 col-xs-12">
                <div class="contactanos">
                    <h6>CONTACTANOS POR NUESTRAS REDES SOCIALES</h6>
                </div>
				<div class="redesSociales">
					<a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/logo-instagram.png" alt="logo instagram" class="ico_footer" width="40%"></a>
					<a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/logo-facebook.png" alt="logo facebook" class="ico_footer" width="40%"></a>
					<a href="https://www.twitter.com/" target="_blank"><img src="../assets/img/logo-twitter-negro.png" alt="logo twitter" class="ico_footer" width="40%"></a>
					<a href="https://ar.linkedin.com/" target="_blank"><img src="../assets/img/logo-linkedin-negro.png" alt="logo linkedin" class="ico_footer" width="40%"></a>
					<a href="https://www.whatsapp.com/" target="_blank"><img src="../assets/img/logo-whatsapp-redondo.png" alt="logo whatsapp" class="ico_footer" width="40%"></a>
				</div>
			</div>	
		</footer>
    </div>
	<!-- AOS -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
 	 AOS.init();
	</script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>-->
  </body>
</html>
